:root {
--primary-color: #21B6A8 ;
}

.avatar {
    display:  flex;
    justify-content: space-around;
    margin-right: 2rem;
}

.avatar-text {
    border-radius: 50%;
}

.avatar-lg-size, .avatar-lg-size img {
    width: 7rem; 
    height: 7rem;
   
}

.avatar-md-size {
    width: 5rem;
    height: 5rem;
    position: relative;
}

.avatar-md-size img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.avatar-sm-size, .avatar-sm-size img{
    width: 3rem;
    height: 3rem;
}

.avatar-text { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
 
}
