@import url("/style.css");

:root {
    --ternary-color: black;
}

a.plusicon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--secondary-color) !important;
    background-color: var(--primary-color) !important;
    text-decoration: none;
}

i {
    color: var(--primary-color);
    text-decoration: none;
    border: 1px solid black;

}

.plusicon i {
    color: var(--secondary-color) !important;
    border: none;
}

button {
    background-color: #21B6A8;
    border: none;
    color: black !important;
    height: 2rem;
    min-width: 6rem;
    max-width: 10rem;
    font-size: 15px;
    letter-spacing: 2px;
    border-radius: 10px;
}

a:link {
    text-decoration: none;
}

.secondary-btn {
    border-style: solid;
    border-color: #21B6A8;
    background-color: black;
    border-radius: 10px;
}

.ternary-btn {
    color: var(--secondary-color) !important;
}


@media only screen and (max-width: 1024px) {
    .btn-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
    }
}