.required-field:after{
    content: "*";
    color: #CF000F;
}

.form-field {
    width: 100%;
    box-sizing:border-box;
    margin-bottom: 6px;
    
}
.form-field-error input {
    border : 1px solid#c51244;
}

input[type=text] {
    padding: 10px;
    border-radius:10px;
    border: 1px solid black;
}

input[type=password] {
    padding: 10px;
    border-radius:10px;
    border: 1px solid #c51244;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
    margin: 5px;
    font-family: "Roboto";
    font-size: 15px;
}

.form-field label{
    font-family: "Roboto";
    color: white;   
}
.form-field input {
    width: 100%;
}