@import url("../shared/footer/footer.css");
@import url("../shared/header/header.css");

:root {
    --primary-color: #21B6A8;
    --secondary-color: white;
    background-color: black;
    font-family: "Roboto";
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1.375rem;
    padding: 0;
    margin: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.social-link {
    color: var(--primary-color);
    margin-right: 1em;
    cursor: pointer;
}

.social-links {
    display: flex;
    justify-content: end;
    right: 0px;
    float: right;
}

.panel {
    display: flex;
    flex-direction: row;

    padding-left: 5rem;
    padding-right: 5rem;

    color: var(--secondary-color);

    font-weight: 700;
    font-size: 25.6px;

    max-height: 60vh;

    margin-top: 3rem;
}

.leftPanel {
    max-width: 80%;
    max-height: 40vh;
}

.floral {
    max-width: 18.75rem;
    margin-top: 3rem;
}

.content-title {
    font-size: 24px;
    color: var(--primary-color);
    letter-spacing: 2px;
}

.sub-content {
    font-size: 22px;
    color: var(--secondary-color);
    letter-spacing: 2px;
}

.content-intro {
    font-size: 22px;
    color: var(--secondary-color);
    letter-spacing: 2px;
}

.content-display-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;

    padding-top: 1rem;
    padding-bottom: 1rem;

    box-sizing: content-box;
    border: 1px solid var(--secondary-color);

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.content-display-container button {
    margin-right: 2rem;
}

.content-display-container.responsiveimage {
    max-height: 18.75rem;
}

.content-display-container.responsiveimageround {
    max-height: 25rem;
    width: 18.75rem;
}

.action_btn {
    background-color: var(--primary-color);
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.installation-panel {
    max-width: 80%;

    margin-left: 1rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.installation a {
    background-color: var(--primary-color);
    color: black;
}

.installation-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.documentation a {
    background-color: var(--primary-color);
    color: black;
}

.heartIcon {
    color: var(--primary-color);
}

.sidenav {
    display: none;
}

@media only screen and (max-width: 1024px) {
    body {
        width: 100vw;
    }

    .panel {
        box-sizing: border-box;
        width: 100vw;
        padding: 0;
        font-size: 15px;

        margin: 0;
        margin-top: 2rem;
        margin-bottom: 4rem;

        left: 0px;
        right: 0px;

        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        align-items: center;
    }

    .leftPanel {
        font-size: 1.5em;
        box-sizing: border-box;
        width: 100%;
        padding: 0px;
        margin: 0px;
        flex-shrink: 0;
    }

    .leftPanel .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .leftPanel h2, p {
        flex-grow: 1;
        text-align: center;
    }

    .rightPanel .floral {
        margin-top: 8rem;
        max-width: 18.75rem;
        max-height: 18.75rem;
    }

    .social-links {
        width: 20vw;
        float: right;
    }

    .installation-panel {
        font-size: 1.5em !important;
        max-width: 100%;
        white-space: normal;

        margin-left: 5px;
        margin-top: 15rem;
    }

    input[type=checkbox] {
        display: none;
    }

    .hamburger {
        display: none;
        font-size: 1.5rem;
        user-select: none;
    }

    .sidenav a {
        color: var(--primary-color) !important;
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 1.25rem;
        display: block;
        transition: 0.3s;
    }

    .header-links {
        display: none;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 1.563rem;
        margin-left: 3.125rem;
        font-size: 2.25rem;
    }

    .sidenav {
        height: 100%;
        width: 0;
        display: block;

        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        padding-top: 3.75rem;

        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
        cursor: pointer;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 1.563rem;
        font-size: 2.25rem;
        margin-left: 3.125rem;
    }

    .navIcon {
        top: 0px;
        left: 0px;
        padding: 0px;
        font-size: 24px;
        color: var(--primary-color);
        cursor: pointer;

        margin-top: 0px;
        margin-left: 5px;
    }

    iframe {
        max-width: 80vw;
        max-height: 12.5rem;
        padding-left: 0;
    }
}