.toast {
  --toast-success: #78D878;
  --toast-error: #ED2939;
  --toast-inform: #00FFFF;
  --toast-text: black;

  background-color: azure;
  min-width: 150px;
  height: 30px;
  font-family: "Roboto";
  font-size: 20px;
  padding: 10px;

}

.toastcloseicon {
  border: none;
  float: right;
  padding-left: 7px;
  color: var(--toast-text);
}

.toast-success {
  background-color: var(--toast-success);
}

.toast-error {
  background-color: var(--toast-error);
}

.toast-inform {
  background-color: var(--toast-inform);
}

#toast-success-demo {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: var(--toast-success);
  color: var(--toast-text);
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
  font-size: 17px;
}

#toast-success-demo.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@media only screen and (max-width: 1024px) {
  #toast .content-display-container {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
}