.content-container {
    background-color: var(--background-color);
}

.main-card-container {
    background-color: #FFFFF0;
    position: relative;
    height: fit-content;
    margin-right: 10px;
}

.main-card-container:nth-child(1) {
    margin-left: 10px !important;
}

.card-horizontal .card-container-horizontal {
    display: flex;
    flex-direction: row;
    max-height: fit-content;
}

.image-badge-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.image-badge-container img {
    width: 6.938rem;
}

.text-container {
    margin-left: 1rem;
}

.badge {
    background-color: var(--primary-color);
    font-family: "Roboto";
    letter-spacing: 2px;
    font-size: 15px;
    padding: 5px;
    position: absolute;
    top: 0rem;
    left: 0rem;
}

.sub-text-container {
    display: flex;
    flex-direction: column;
}

.sub-title {
    font-size: 19px;
}

.card-desc {
    font-size: 20px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.card-vertical {
    position: relative;
}

.card-horizontal .card-container-horizontal {
    min-width: 19.8125rem;
    max-width: 30rem;
    max-height: 500px;

}

.card-vertical .card-container-vertical .image-badge-container img {
    width: 100%;
    max-height: 230px;
}

.card-container-vertical {
    max-width: 240px;
    position: relative;
}

.card-container-vertical .image-badge-container img {
    width: 100%;
}

.card-container-vertical .image-badge-container .badge {
    position: absolute;
    margin-top: 1rem;
}

.vertical-badge {
    position: absolute;
    margin-top: 0.5rem;
    left: 0rem;
    background-color: var(--primary-color);
    font-family: "Roboto";
    letter-spacing: 2px;
    font-size: 15px;
    padding: 5px;
}

.btn-close {
    background: transparent url("/assets/close.svg") center/1.1em auto no-repeat;
    position: absolute;
    top: 0;
    right: -20px;
    z-index: 1;
    outline: none;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.outOfStock {
    padding: 2px;
    border: 1px solid grey;
}

.card-with-shadow {
    box-shadow: 0 0 45px #ccc;
}

.card-text-container {
    width: 60%;
    min-height: 70px;
    border-radius: 5%;
    padding: 0px;
    border: 1px solid var(--primary-color);
}

.content-display-container:nth-last-child(2):nth-last-child(3) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-content-title {
    font-size: 20px;
    color: var(--primary-color);
}

.card-sub-title {
    font-size: 17px;
    color: white;
}

.cards .action-btn-container button i {
    color: var(--ternary-color);
    border: none;
}

.cards .action-btn-container button {
    margin-bottom: 5px;
}


@media only screen and (max-width: 1024px) {
    .content-display-container:nth-last-child(2) {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-content: space-around;
    }



}