.sidebar-arrow {
    display: none;
}

@media screen and (max-width: 1024px) {
    .sidebar-arrow {
        display: block;
        padding: 1rem 1.625rem;
    }

    .sidebar-arrow i {
        margin: 0;
        transition: 0.2s ease;
    }

    .sidebar {
        overflow-y: hidden;
        height: 3.5rem;
        z-index: 2;
        background-color: red;
    }

    .nav-bar-opening-button {
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: blue;
        margin-bottom: 1rem;
    }

}